1. Creating DataFrame

In [4]:
import pandas as pd

df = pd.read_csv('Data/weather_data.csv')
df

         day  temperature  windspeed  event  Humidity
0  20/3/2024           46         57  Sunny        54
1  21/3/2024           36         54   Rain        53
2  22/3/2024           43         74   Snow        34
3  23/3/2024           46         57  Sunny        34
4  24/3/2024           36         54   Rain        53
5  25/3/2024           43         74  Coudy        57

We can also create a dataframe with ython disctonary

In [7]:
Book = {
   "FY":['Open sourse', 'DSA', 'Soft skill'],
   "SY":["DM", "DS", "LPA"],
   "TY":["AI", "ML", "Cyber"] 
}
data_f = pd.DataFrame(Book)
data_f

            FY   SY     TY
0  Open sourse   DM     AI
1          DSA   DS     ML
2   Soft skill  LPA  Cyber

2. Dealing with rows and columns

In [10]:
rows, columns = data_f.shape

The first 3 rows of data

In [14]:
df.head(3)

         day  temperature  windspeed  event  Humidity
0  20/3/2024           46         57  Sunny        54
1  21/3/2024           36         54   Rain        53
2  22/3/2024           43         74   Snow        34

The last 2 rows from dataset

In [15]:
df.tail(2)

         day  temperature  windspeed  event  Humidity
4  24/3/2024           36         54   Rain        53
5  25/3/2024           43         74  Coudy        57

Slicing of rows 2 is starting and 5 is end

In [16]:
df[2:5]

         day  temperature  windspeed  event  Humidity
2  22/3/2024           43         74   Snow        34
3  23/3/2024           46         57  Sunny        34
4  24/3/2024           36         54   Rain        53

Here the 2 is step index

In [17]:
df[1:6:2]

         day  temperature  windspeed  event  Humidity
1  21/3/2024           36         54   Rain        53
3  23/3/2024           46         57  Sunny        34
5  25/3/2024           43         74  Coudy        57

In [20]:
df.columns

Index(['day', 'temperature', 'windspeed', 'event', 'Humidity'], dtype='object')

Value of an individual column

In [23]:
df.day

0    20/3/2024
1    21/3/2024
2    22/3/2024
3    23/3/2024
4    24/3/2024
5    25/3/2024
Name: day, dtype: object

OR

In [24]:
df['event']

0    Sunny
1     Rain
2     Snow
3    Sunny
4     Rain
5    Coudy
Name: event, dtype: object

In [28]:
df[['event', 'day']]

   event        day
0  Sunny  20/3/2024
1   Rain  21/3/2024
2   Snow  22/3/2024
3  Sunny  23/3/2024
4   Rain  24/3/2024
5  Coudy  25/3/2024

In [29]:
type(df['event'])

pandas.core.series.Series

3. Operations: min, max, std, describe

max

In [30]:
df['temperature'].max()

46

In [34]:
df.Humidity.max()

57

min

In [35]:
df.day.min()

'20/3/2024'

mean or avg

In [37]:
df['windspeed'].mean()

61.666666666666664

std

In [38]:
df['Humidity'].std()

10.559356040971437

describe

In [42]:
df.describe()

       temperature  windspeed   Humidity
count     6.000000   6.000000   6.000000
mean     41.666667  61.666667  47.500000
std       4.589844   9.647107  10.559356
min      36.000000  54.000000  34.000000
25%      37.750000  54.750000  38.750000
50%      43.000000  57.000000  53.000000
75%      45.250000  69.750000  53.750000
max      46.000000  74.000000  57.000000

In [40]:
df['event'].describe()

count         6
unique        4
top       Sunny
freq          2
Name: event, dtype: object

4. Conditional Selection

In [48]:
df[df['temperature'] >= 43]

         day  temperature  windspeed  event  Humidity
0  20/3/2024           46         57  Sunny        54
2  22/3/2024           43         74   Snow        34
3  23/3/2024           46         57  Sunny        34
5  25/3/2024           43         74  Coudy        57

In [47]:
df[df.windspeed == df['windspeed'].max()]

         day  temperature  windspeed  event  Humidity
2  22/3/2024           43         74   Snow        34
5  25/3/2024           43         74  Coudy        57

In [53]:
df[['day', 'Humidity']][df.Humidity == df['Humidity'].max()]

         day  Humidity
5  25/3/2024        57

5. set_index

In [56]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [57]:
df.set_index('day', inplce = True)

           temperature  windspeed  event  Humidity
day
20/3/2024           46         57  Sunny        54
21/3/2024           36         54   Rain        53
22/3/2024           43         74   Snow        34
23/3/2024           46         57  Sunny        34
24/3/2024           36         54   Rain        53
25/3/2024           43         74  Coudy        57

In [69]:
df.loc['24/3/2024']

temperature      36
windspeed        54
event          Rain
Humidity         53
Name: 24/3/2024, dtype: object

In [92]:
df.reset_index(inplace=True)
df

   index  event        day  temperature  windspeed  Humidity
0      0  Sunny  20/3/2024           46         57        54
1      1   Rain  21/3/2024           36         54        53
2      2   Snow  22/3/2024           43         74        34
3      3  Sunny  23/3/2024           46         57        34
4      4   Rain  24/3/2024           36         54        53
5      5  Coudy  25/3/2024           43         74        57

In [93]:
df.drop(columns='index', inplace=True)
df

   event        day  temperature  windspeed  Humidity
0  Sunny  20/3/2024           46         57        54
1   Rain  21/3/2024           36         54        53
2   Snow  22/3/2024           43         74        34
3  Sunny  23/3/2024           46         57        34
4   Rain  24/3/2024           36         54        53
5  Coudy  25/3/2024           43         74        57

In [94]:
df.set_index('event', inplace=True)
df

             day  temperature  windspeed  Humidity
event
Sunny  20/3/2024           46         57        54
Rain   21/3/2024           36         54        53
Snow   22/3/2024           43         74        34
Sunny  23/3/2024           46         57        34
Rain   24/3/2024           36         54        53
Coudy  25/3/2024           43         74        57

In [95]:
df.loc['Sunny']

             day  temperature  windspeed  Humidity
event
Sunny  20/3/2024           46         57        54
Sunny  23/3/2024           46         57        34